@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');
@import "tailwindcss";

@theme {
  --color-blush: #FDFBF7;
  --color-bordeaux: #592025;
  --color-rosegold: #C5A07A;
  --color-dark: #2A2322;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Montserrat", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  html, body {
    background-color: var(--color-blush);
    color: var(--color-dark);
    font-family: var(--font-sans);
  }
}
